*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

img {
  width: 250px;
  height: 300px;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: lightslategrey;
}

.logo-image {
  width: 100%;
  height: 50%;
  background-image: url("/img/Felicias\ Gold\ Fingers\ logo2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: wheat;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  margin: 0;
  font-weight: bold;
}

nav li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: gray;
}

.top-section {
  text-align: center;
  padding: 2rem;
  line-height: 1.5;
  background-color: wheat;
  color: gray;
}

.top-section img {
  margin: 2rem 0;
  border-radius: 5px;
}

.galerie {
  padding: 2rem;
  text-align: center;
  line-height: 4;
  background-color: rgba(80, 80, 70, 0.8);
  color: white;
}

.galerie img {
  margin-left: 1rem;
}

#contact {
  background-color: wheat;
  padding: 2rem 2rem 0 2rem;
  line-height: 1.5;
  color: gray;
}

#contact p {
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

button {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: pink;
  border: none;
  color: gray;
  font-weight: bold;
  font-size: large;
  margin: 2rem;
}
